In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('scores.csv')
df

    study_time  score
0         6.57   43.1
1         3.11   19.3
2         7.50   63.5
3         8.98   63.6
4         4.51   26.7
..         ...    ...
95        4.51   31.7
96        2.87   31.4
97        4.71   44.9
98        5.73   36.9
99        9.99   86.6

[100 rows x 2 columns]